<md-list>
    <md-list-item ng-click="openSettings('general')">
        <p>General</p>
    </md-list-item>
    <md-list-item ng-click="openSettings('speed')">
        <p>Speed</p>
    </md-list-item>
    <md-list-item ng-click="openSettings('downloading')">
        <p>Downloading</p>
    </md-list-item>
    <md-list-item ng-click="openSettings('seeding')">
        <p>Seeding</p>
    </md-list-item>
    <md-list-item ng-click="openSettings('privacy')">
        <p>Privacy</p>
    </md-list-item>
    <md-list-item ng-click="openSettings('network')">
        <p>Network</p>
    </md-list-item>
</md-list>